<form [formGroup]="form" class="example-form" (ngSubmit)="onSearchClick()">
  
  <mat-form-field class="example-full-width">
    <mat-label>Trade</mat-label>
    <input type="text" placeholder="Choose one" aria-label="Trade" matInput formControlName="currencySourceControl"
      [matAutocomplete]="auto1">
    <mat-autocomplete [displayWith]="displayFn" #auto1="matAutocomplete">
      <mat-option *ngFor="let option of filteredCurrencies1 | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>To</mat-label>
    <input type="text" placeholder="Choose one" aria-label="To" matInput formControlName="currencyTargetControl"
      [matAutocomplete]="auto2">
    <mat-autocomplete [displayWith]="displayFn" #auto2="matAutocomplete">
      <mat-option *ngFor="let option of filteredCurrencies2 | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Search</button>

</form>

<router-outlet></router-outlet>