.mat-column-idPair, .mat-column-pairPrice  {
  flex: none;
  width: 200px;
} 
.mat-column-exchangeName{
  flex: none;
  width: 300px;
}

.mat-column-pairVolume{
  flex: none;
  width: 300px;
}

.best-rate{
  background-color: #ffea7c;

}
.link{
  cursor: pointer;
  text-decoration: underline;
  color:#0000EE;
}

p{
  text-align: right;
}